<div class="card mat-card">
  <div class="card-titles">
    <h2><b>Formación</b></h2>
    <!-- <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div> -->
    <div class="row">
      <div>
        <div
          style="float: left; margin-right: 2.5%"
          class="btn-edit"
          onclick="showTextarea('edit-educacion', 'checkeducacion')"
        >
          <button *ngIf="isLogged" class="btn-edit btn btn-outline">
            <i class="fas fa-pen" style="font-size: 24px"></i>
          </button>
        </div>

        <div
          style="float: left"
          class="btn-edit"
          onclick="eliminateSeccion('educacion')"
        >
          <button *ngIf="isLogged" class="btn btn-outline">
            <i class="fas fa-xmark" style="font-size: 24px"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <br />

  <div *ngFor="let formation of educ">
    <small>
      <button
        *ngIf="isLogged"
        class="btn btn-danger"
        (click)="delete(formation.id)"
      >
        <i class="bi bi-trash-fill"></i>BORRAR
      </button>

      <!-- INICIO 20230210 -->

      <button
        style="margin-left: 2%"
        *ngIf="isLogged"
        class="btn btn-warning"
        (click)="openUpdateForm('edit-educacionmod', formation.id)"
        onclick="showTextarea('edit-educacionmod', 'checkeducacionmod')"
      >
        <i class="bi bi-trash-fill"></i>EDITAR
      </button>
      <!-- FIN 20230210 -->
    </small>

    <h4>{{ formation.nombreE }}</h4>
    <p>{{ formation.descripcionE }}</p>
    <br />

    <!-- <h4>{{formation.rubro}} - {{formation.institute}}</h4>
    <p>{{formation.resumen}}</p>
    <br> -->
  </div>
  <div>
    <form
      style="display: none; padding-top: 4rem"
      id="edit-educacionmod"
      (ngSubmit)="onUpdate(objid.id)"
      novalidate
      #f="ngForm"
    >
      <div class="form-group">
        <label for="nombreE">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombreE"
          name="nombreE"
          [(ngModel)]="nombreEM"
          required
        />
      </div>

      <div class="form-group">
        <label for="descripcionE">Título</label>
        <input
          type="text"
          class="form-control"
          id="descripcionE"
          name="descripcionE"
          [(ngModel)]="descripcionEM"
          required
        />
      </div>

      <button class="btn btn-primary">Modificar Información</button>
      <!-- <div>
          <input id="edit-educacion" type="text" oninput="changeParagraph(this.value, 'text-educacion')" style="display:none">
        </div>

        <input type="file" id="fileeducacion" onchange="showFile(this, 'text-educacion')" style="display:none"> -->
    </form>
    <div
      class="btn-edit"
      onclick="hideTextarea('edit-educacionmod', 'checkeducacionmod')"
    >
      <button
        style="display: none"
        id="checkeducacionmod"
        *ngIf="isLogged"
        class="btn btn-outline me-2"
      >
        <i class="fas fa-check" style="font-size: 24px"></i>
      </button>
    </div>
  </div>

  <div>
    <form
      style="display: none; padding-top: 4rem"
      id="edit-educacion"
      (ngSubmit)="onCreate()"
      novalidate
      #f="ngForm"
    >
      <div class="form-group">
        <label for="nombreE">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombreE"
          name="nombreE"
          [(ngModel)]="nombreE"
          required
        />
      </div>

      <div class="form-group">
        <label for="descripcionE">Título</label>
        <input
          type="text"
          class="form-control"
          id="descripcionE"
          name="descripcionE"
          [(ngModel)]="descripcionE"
          required
        />
      </div>

      <button class="btn btn-primary">Agregar Información</button>
      <div>
        <input
          id="edit-educacion"
          type="text"
          oninput="changeParagraph(this.value, 'text-educacion')"
          style="display: none"
        />
      </div>

      <input
        type="file"
        id="fileeducacion"
        onchange="showFile(this, 'text-educacion')"
        style="display: none"
      />
    </form>
    <div
      class="btn-edit"
      onclick="hideTextarea('edit-educacion', 'checkeducacion', 'fileeducacion')"
    >
      <button
        style="display: none"
        id="checkeducacion"
        *ngIf="isLogged"
        class="btn btn-outline me-2"
      >
        <i class="fas fa-check" style="font-size: 24px"></i>
      </button>
    </div>
  </div>
</div>
